@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ################## Custom Style ################### */
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  height: 8000px;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.text-light {
  color: #fff;
}
.text-blue {
  color: #26126b;
}
.half-width {
  width: 50%;
  padding: 0 3.5rem;
}
.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items {
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: 2px solid transparent;
}
.btn-light {
  background: #fff;
  color: #26126b;
}
.btn-light:hover {
  background: #26126b;
  color: #fff;
  border-color: #fff;
}
.btn-blue {
  background: #26126b;
  color: #fff;
}
.btn-blue:hover {
  background: #fff;
  color: #26126b;
  border-color: #26126b;
}
/* ################## Custom Style End################### */
/* ############## Navbar ############### */
.navbar {
  background: #26126b;
}
.navbar-content {
  height: 60px;
}
.company-name h1 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-items {
  width: 50%;
}
.navbar-items li a {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}
.navbar-items li a:hover {
  border-bottom: 2px solid #fff;
}
/* ############## Navbar End ############### */
/* ############## Header ################ */
.header {
  background-image: url("../images/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-content {
  padding: 5rem 0;
}
.header-text {
  padding: 0 3.5rem;
  width: 50%;
}
.header-text h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.header-text p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 5rem;
}
.header-img {
  width: 50%;
}
.header-img img {
  display: block;
  margin: 0 auto;
  width: 70%;
}
/* ############## Header End ################ */
/* ############### Service ################# */
.service-text-box {
  width: 50%;
  padding: 0 3.5rem;
}
.service-text-box h1 {
  font-size: 3.5rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
}
.service-text-box P {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 2rem 0;
}
.service-items-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  width: 50%;
  padding: 3rem 0;
}
.service-item {
  margin: auto;
  width: 85%;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid #e9e7f0;
  transition: all 0.3s ease;
}
.service-item:hover {
  color: #fff;
  background-color: #281670;
  border-color: transparent;
}
.service-item:hover img {
  filter: brightness(0) invert(1);
}
.service-item img {
  width: 80px;
  height: 80px;
}
.service-item h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}
.service-item p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0.5rem 0;
}
/* ############### Service End ################# */
/* ############### Solution ################ */
.solution-content {
  padding: 5rem 0;
}
.solution-image-box img {
  width: 100%;
}
.solution-text-box h1 {
  font-size: 3rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
}
.solution-text-box p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 2rem 0;
}
/* ############### Solution End ################ */
/* ############# Counter #################### */
.counter {
  background-image: url("../images/background_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.counter-content {
  height: 200px;
  color: #fff;
}
.counter-box {
  text-align: center;
}
.counter-box h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.counter-box p {
  font-size: 1.8rem;
  font-weight: 400;
}
/* ############# Counter End #################### */
/* ############## Gallary #################### */
.gallary-content {
  padding: 5rem 0;
}
.gallary-text-box {
  text-align: center;
  padding: 2rem 0;
}
.gallary-text-box h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.gallary-text-box p {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  text-overflow: ellipsis;
  margin: 5rem 10rem;
}
.gallary-image-box {
  width: 100%;
  display: flex;
}
.gallary-image-box img {
  width: 25%;
}
.gallary-image-box img:hover {
  /* filter: saturate(20%); */
  filter: brightness(1) contrast(60%);
}
.gallary-content button {
  border: none;
  outline: none;
  display: block;
  margin: 5rem auto;
}
/* ############## Gallary End #################### */
/* ############# Client ################ */
.clietn-text-box {
  text-align: center;
  padding: 3rem;
}
.clietn-text-box h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.clietn-text-box p {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
  margin: 5rem 0;
}
.client-logo-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 5rem;
}
.client-logo {
  margin: auto;
}
.client-logo:hover {
  background: #fff;
}
.client-logo:hover img {
  filter: brightness(3) invert(1);
}
/* ############# Client End ################ */
/* ############## News ################# */
.news-section {
  padding: 10rem 0;
}
.new-title {
  text-align: center;
}
.new-title h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.new-title p {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
  margin: 5rem 0;
}
.artical-box {
  width: 30%;
}
.artical-box img {
  width: 100%;
  height: 250px;
  transition: filter 0.3s ease;
}

.artical-text-box {
  margin-top: -5px;
  border: 1px solid #e9e7f0;
  padding: 2rem;
}
.artical-text-box h3 {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
}
.artical-text-box small {
  font-size: 1.2rem;
  font-weight: 500;
}
.artical-text-box p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}
.artical-text-box a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.artical-box:hover .artical-text-box h3 {
  color: #26126b;
}
.artical-box:hover .artical-text-box a {
  color: #26126b;
}
.artical-box:hover img {
  filter: brightness(1) contrast(50%);
}
/* ############## News End ################# */
/* ############## proposoal ################## */
.proposal-content {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 3rem;
  background: #fff;
  border-radius: 2.5rem;
  box-shadow: -3px 5px 13px 0 #25126b54;
}
.proposal-text {
  width: 50%;
}
.proposal-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.proposal-text p {
  font-size: 1.6rem;
  font-weight: 400;
}
.proposal-content a {
  height: 50%;
}
/* ############## proposoal end ################## */
