@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ################## Custom Style ################### */
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.text-light {
  color: #fff;
}
.text-blue {
  color: #26126b;
}
.half-width {
  width: 50%;
  padding: 0 3.5rem;
}
.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items {
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: 2px solid transparent;
}
.btn-light {
  background: #fff;
  color: #26126b;
}
.btn-light:hover {
  background: #26126b;
  color: #fff;
  border-color: #fff;
}
.btn-blue {
  background: #26126b;
  color: #fff;
}
.btn-blue:hover {
  background: #fff;
  color: #26126b;
  border-color: #26126b;
}
.btn-blog {
  background: #26126b;
  color: #fff;
}
.btn-blog:hover {
  background: #fff;
  color: #26126b;
  border-color: #fff;
}
/* ################## Custom Style End################### */
/* ############## Navbar ############### */
.navbar {
  background: #26126b;
}
.navbar-content {
  height: 60px;
}
.company-name h1 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-items {
  width: 50%;
}
.navbar-items li a {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}
.navbar-items li a:hover {
  border-bottom: 2px solid #fff;
}
/* ############## Navbar End ############### */
/* ############## Header ################ */
.header {
  background-image: url("../images/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-content {
  padding: 5rem 0;
}
.header-text {
  padding: 0 3.5rem;
  width: 50%;
}
.header-text h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.header-text p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 5rem;
}
.header-img {
  width: 50%;
}
.header-img img {
  display: block;
  margin: 0 auto;
  width: 70%;
}
/* ############## Header End ################ */
/* ############### Service ################# */
.service-text-box {
  width: 50%;
  padding: 0 3.5rem;
}
.service-text-box h1 {
  font-size: 3.5rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
}
.service-text-box P {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 2rem 0;
}
.service-items-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  width: 50%;
  padding: 3rem 0;
}
.service-item {
  margin: auto;
  width: 85%;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid #e9e7f0;
  transition: all 0.3s ease;
}
.service-item:hover {
  color: #fff;
  background-color: #281670;
  border-color: transparent;
}
.service-item:hover img {
  filter: brightness(0) invert(1);
}
.service-item img {
  width: 80px;
  height: 80px;
}
.service-item h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}
.service-item p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0.5rem 0;
}
/* ############### Service End ################# */
/* ############### Solution ################ */
.solution-content {
  padding: 5rem 0;
}
.solution-image-box img {
  width: 100%;
}
.solution-text-box h1 {
  font-size: 3rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
}
.solution-text-box p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 2rem 0;
}
/* ############### Solution End ################ */
/* ############# Counter #################### */
.counter {
  background-image: url("../images/background_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.counter-content {
  height: 200px;
  color: #fff;
}
.counter-box {
  text-align: center;
}
.counter-box h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.counter-box p {
  font-size: 1.8rem;
  font-weight: 400;
}
/* ############# Counter End #################### */
/* ############## Gallary #################### */
.gallary-content {
  padding: 5rem 0;
}
.gallary-text-box {
  text-align: center;
  padding: 2rem 0;
}
.gallary-text-box h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.gallary-text-box p {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  text-overflow: ellipsis;
  margin: 5rem 10rem;
}
.gallary-image-box {
  width: 100%;
  display: flex;
}
.gallary-image-box img {
  width: 25%;
}
.gallary-image-box img:hover {
  /* filter: saturate(20%); */
  filter: brightness(1) contrast(60%);
  cursor: zoom-in;
}
.gallary-content button {
  border: none;
  outline: none;
  display: block;
  margin: 5rem auto;
}
/* ############## Gallary End #################### */
/* ############# Client ################ */
.clietn-text-box {
  text-align: center;
  padding: 3rem;
}
.clietn-text-box h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.clietn-text-box p {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
  margin: 5rem 0;
}
.client-logo-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 5rem;
}
.client-logo {
  margin: auto;
}
.client-logo:hover {
  background: #fff;
}
.client-logo:hover img {
  filter: brightness(3) invert(1);
}
/* ############# Client End ################ */
/* ############## News ################# */
.news-section {
  padding: 10rem 0;
}
.new-title {
  text-align: center;
}
.new-title h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.new-title p {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
  margin: 5rem 0;
}
.artical-box {
  width: 30%;
}
.artical-box img {
  width: 100%;
  height: 250px;
  transition: filter 0.3s ease;
}

.artical-text-box {
  margin-top: -5px;
  border: 1px solid #e9e7f0;
  padding: 2rem;
}
.artical-text-box h3 {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
}
.artical-text-box small {
  font-size: 1.2rem;
  font-weight: 500;
}
.artical-text-box p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}
.artical-text-box a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.artical-box:hover .artical-text-box h3 {
  color: #26126b;
}
.artical-box:hover .artical-text-box a {
  color: #26126b;
}
.artical-box:hover img {
  filter: brightness(1) contrast(50%);
}
/* ############## News End ################# */
/* ############## proposoal ################## */
.proposal-content {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 3rem;
  background: #fff;
  border-radius: 2.5rem;
  box-shadow: -3px 5px 13px 0 #25126b54;
}
.proposal-text {
  width: 50%;
}
.proposal-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.proposal-text p {
  font-size: 1.6rem;
  font-weight: 400;
}
.proposal-content a {
  height: 50%;
}
/* ############## proposoal end ################## */
/* ################ Footer ############## */
.footer {
  margin-top: 10rem;
  background: url("../images/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
}
.footer-about {
  width: 40%;
}
.footer-about h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.footer-about p {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 2rem 0;
}
.footer-link {
  width: 60%;
}
.footer-link h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.footer-link ul li a {
  display: block;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 0.5rem 0;
}
.footer-link ul {
  margin: 2rem 0;
}
.footer-link ul li a::before {
  content: "▶ ";
}
/* ################ Footer End ############## */
/* ########################################### About Us Page ####################################### */
/* ############## About header ################ */
.about-header {
  background-image: url("../images/background_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}
.about-text {
  width: 50%;
}
.about-text h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.about-text p {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 3rem 0;
}
.about-imge-box {
  width: 50%;
}
.about-imge-box img {
  width: 100%;
}
/* ############## About header End ################ */
/* ############## Work with us ############## */
.work-with-us-content {
  padding: 5rem 0;
}
.work-with-us-video {
  width: 50%;
}
.work-with-us-video video {
  width: 90%;
}
.work-with-us-text-box {
  width: 50%;
  margin: auto;
  padding: 0 5rem;
}
.work-with-us-text-box h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.work-with-us-text-box p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 2.5rem 0;
  text-align: justify;
}
.work-with-us-text-box a {
  margin-right: 2rem;
}
/* ############## Work with us End ############## */
/* ############# Our success ################ */
.success-content {
  padding: 5rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sucess-title {
  text-align: center;
}
.sucess-title h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.sucess-title p {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin: 3rem 5rem;
}
.success-video figcaption {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.success-video figcaption a {
  color: red;
}
/* ############# Our success End ################ */
/* ########################################### Blog Page ####################################### */
/* ###################### Blog Header ###################### */
.blog-header {
  height: 80vh;
  background-image: linear-gradient(
      109.6deg,
      rgba(62, 161, 219, 0.5) 11.2%,
      rgba(93, 52, 236, 0.5) 100.2%
    ),
    url("../images/blog-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.blog-header-content {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog-header-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.blog-header-content p {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  margin: 2rem 0 5rem 0;
}
.blog-header-content a {
  margin: 0 2rem;
}
/* #################### Blog Header End ################### */
.side-nav {
  order: 2;
  width: 25%;
  height: 500px;
  background-color: palegoldenrod;
}
.blog-body-content {
  order: 1;
  width: 75%;
  /* height: 500px; */
  /* background-color: red; */
}
.blog-content {
  width: 80%;
  padding: 3rem 0;
  margin: 2rem auto;
}
.blog-content img {
  width: 100%;
  height: 300px;
  object-position: bottom;
  object-fit: cover;
}
.bog-text-box {
  margin: 1rem 0;
}
.bog-text-box h2 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}
.bog-text-box p {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: justify;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}
