@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ################## Custom Style ################### */
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.text-light{
    color: #fff;
}
.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 2px solid transparent;

}
.btn-light{
    background: #fff;
    color: #26126b;
}
.btn-light:hover{
    background: #26126b;
    color: #fff;
    border-color: #fff;
}
/* ################## Custom Style End################### */
/* ############## Navbar ############### */
.navbar{
    background: #26126b;
}
.navbar-content{
    height: 60px;
}
.company-name h1{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-items{
    width: 50%;
}
.navbar-items li a{
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
   
}
.navbar-items li a:hover{
    border-bottom: 2px solid #fff;
}
/* ############## Navbar End ############### */
/* ############## Header ################ */
.header{
    background-image: url("../images/background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content{
    padding: 5rem 0;
}
.header-text{
    margin: 0 auto;
}
.header-text h1{
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.header-text p{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 5rem;
}
.header-img {
    width: 50%;
}
.header-img img{
    display: block;
    margin:0 auto;
    width: 70%;
}
/* ############## Header End ################ */